@model IEnumerable<EntityLayer.Product>
@{
    ViewBag.Title = "ListAllProduct";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>ListAllProduct</h2>
@Html.Partial("~/Views/Shared/_ProductLists.cshtml")